<!DOCTYPE html>
<html>
<head><meta charset="utf-8"><title>kyd</title>
<link rel=icon href='favicon.png' />

<style>
 html{font-family:monospace}
 img{float:left}
 #vd{border:1px solid black;}
</style>

</head><body>
<script>
function ge(x) { return document.getElementById(x) }
function gu(x) { return (new URL(document.location)).searchParams.get(x) } // or null
function pa(x) { var r=gu(x);return r?("&"+x+"="+r):"" }

function toggle(id,e){e=ge(id);e.style.display=(e.style.display=='block')?'none':'block'}

function stripclick(e){
 var y=e.pageY-e.target.offsetTop
 ge("stripln").href="cal?w="+y+pa("tile")+"#hi"
}
function vdclick(e){
 var x=e.pageX-e.target.offsetLeft
 var y=e.pageY-e.target.offsetTop
 ge("vdln").href="vd?x="+x+"&y="+y+pa("tile")
}
function vdmove(e){
 var x=e.pageX-e.target.offsetLeft
 var y=e.pageY-e.target.offsetTop
 ge("caption").innerText = x + "km " + (3.6/25*(300-y)) + " km/h"
}
</script>

<a id="stripln"><img src="strip.png" id="strip"></a>
{{.}}
<a href="cal?" id="cal">cal</a>
<a href="list?" id="list">list</a>
<a href="index.html?tile=points">index(points)</a>
<a href="index.html">index(topo)</a>
<br>
<a id="vdln"><img src="vd.png" id="vd"></a><span id="caption"></span>

<script>
ge("cal").href += pa("tile")
ge("list").href += pa("tile")
ge("strip").addEventListener("click", stripclick)
ge("vd").addEventListener("click", vdclick)
ge("vd").addEventListener("mousemove", vdmove)

</script>

</body></html>
