<head><meta charset="utf-8"><title>kyd</title></head>
<link rel=icon href='favicon.png'>
<style>
 html{font-family:monospace}
 pre{background:#ffffea}
 textarea{background:black;color:white;width:100%;resize:none;overflow-y:hidden}
 ul{position:fixed;top:0;right:10}
 img{float:right}
 th{text-align:left;}
</style>
<script>
function ge(x){return document.getElementById(x)}
function toggle(id,e){e=ge(id);e.style.display=(e.style.display=='block')?'none':'block'}

</script>
<body>
<pre> 
kyd..
</pre>
{{.}}
<a href="cal">cal</a>
<a href="list">list</a>
</body></html>
